@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-color: #3C5999;

  --header-height: 42px;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 15px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}
